#colors
    h2.docs-title.my-4.font-light
        | Colors
        a.anchor.ml-1.text-decoration-none(href="#colors") #
    p
        | Color utilities are used for changing colors for text, link and background.
#colors-text
    h4.docs-title.my-4.font-light
        | Text
        a.anchor.ml-1.text-decoration-none(href="#colors-text") #
    .row.mb-3
        .col
            span.d-inline-block.mr-3.text-primary primary
            span.d-inline-block.mr-3.text-secondary secondary
            span.d-inline-block.mr-3.text-success success
            span.d-inline-block.mr-3.text-error error
            span.d-inline-block.mr-3.text-warning warning
            span.d-inline-block.mr-3.text-dark dark
            span.d-inline-block.mr-3.text-light light
            span.d-inline-block.mr-3.px-2.text-white.bg-dark.rounded white
            span.d-inline-block.mr-3.text-black black
            span.d-inline-block.mr-3.text-gray gray
            span.d-inline-block.text-muted muted
    pre.code(data-lang='HTML')
        code.docs-code
            :highlight(lang="html")
                <span class="text-primary">primary</span>
                <span class="text-secondary">secondary</span>
                <span class="text-success">success</span>
                <span class="text-warning">warning</span>
                <span class="text-error">error</span>
                <span class="text-dark">dark</span>
                <span class="text-light">light</span>
                <span class="text-white">white</span>
                <span class="text-black">black</span>
                <span class="text-gray">gray</span>
                <span class="text-muted">muted</span>
#colors-link
    h4.docs-title.my-4.font-light
        | Link
        a.anchor.ml-1.text-decoration-none(href="#colors-link") #
    .row.mb-3
        .col
            a.d-inline-block.mr-3.text-primary(href="#") primary
            a.d-inline-block.mr-3.text-secondary(href="#") secondary
            a.d-inline-block.mr-3.text-success(href="#") success
            a.d-inline-block.mr-3.text-error(href="#") error
            a.d-inline-block.mr-3.text-warning(href="#") warning
            a.d-inline-block.mr-3.text-dark(href="#") dark
            a.d-inline-block.mr-3.text-light(href="#") light
            a.d-inline-block.mr-3.px-2.text-white.bg-dark.rounded(href="#") white
            a.d-inline-block.mr-3.text-black(href="#") black
            a.d-inline-block.text-gray(href="#") gray
    pre.code(data-lang='HTML')
        code.docs-code
            :highlight(lang="html")
                <a class="text-primary" href="#">primary</a>
                <a class="text-secondary" href="#">secondary</a>
                <a class="text-success" href="#">success</a>
                <a class="text-error" href="#">error</a>
                <a class="text-warning" href="#">warning</a>
                <a class="text-dark" href="#">dark</a>
                <a class="text-light" href="#">light</a>
                <a class="text-white" href="#">white</a>
                <a class="text-black" href="#">black</a>
                <a class="text-gray" href="#">gray</a>
#colors-background
    h4.docs-title.my-4.font-light
        | Background
        a.anchor.ml-1.text-decoration-none(href="#colors-background") #
    .row.mb-3
        .col
            span.d-inline-block.mr-3.px-2.bg-primary.rounded primary
            span.d-inline-block.mr-3.px-2.bg-secondary.rounded secondary
            span.d-inline-block.mr-3.px-2.bg-success.rounded success
            span.d-inline-block.mr-3.px-2.bg-error.rounded error
            span.d-inline-block.mr-3.px-2.bg-warning.rounded warning
            span.d-inline-block.mr-3.px-2.bg-dark.rounded dark
            span.d-inline-block.mr-3.px-2.text-dark.bg-light.rounded light
            span.d-inline-block.mr-3.px-2.text-dark.bg-white.rounded white
            span.d-inline-block.mr-3.px-2.bg-black.rounded black
            span.d-inline-block.mr-3.px-2.bg-gray.rounded gray
            span.d-inline-block.px-2.bg-transparent.rounded transparent
    pre.code(data-lang='HTML')
        code.docs-code
            :highlight(lang="html")
                <span class="bg-primary">primary</span>
                <span class="bg-secondary">secondary</span>
                <span class="bg-success">success</span>
                <span class="bg-error">error</span>
                <span class="bg-warning">warning</span>
                <span class="bg-dark">dark</span>
                <span class="bg-light">light</span>
                <span class="bg-white">white</span>
                <span class="bg-black">black</span>
                <span class="bg-gray">gray</span>
                <span class="bg-transparent">transparent</span>
