#text
    h2.docs-title.my-4.font-light
        | Text
        a.anchor.ml-1.text-decoration-none(href="#text") #
    p
        | Text utilities are used for text alignment, styles and overflow things.
    pre.code(data-lang='HTML')
        code.docs-code
            :highlight(lang="html")
                <!-- text-align: left; -->
                <span class="text-left"></span>

                <!-- text-align: right; -->
                <span class="text-right"></span>

                <!-- text-align: center; -->
                <span class="text-center"></span>

                <!-- text-align: justify; -->
                <span class="text-justify"></span>

                <!-- text-transform: lowercase; -->
                <span class="text-lowercase"></span>

                <!-- text-transform: uppercase; -->
                <span class="text-uppercase"></span>

                <!-- text-transform: capitalize; -->
                <span class="text-capitalize"></span>

                <!-- text-decoration: none; -->
                <span class="text-decoration-none"></span>
                
                <!-- text-overflow: ellipsis; white-space: nowrap; overflow: hidden; -->
                <span class="text-ellipsis"></span>

                <!-- text-overflow: clip; white-space: nowrap; overflow: hidden; -->
                <span class="text-clip"></span>

                <!-- hyphens: auto; word-break: break-word; word-wrap: break-word; -->
                <span class="text-break"></span>

                <!-- font-weight: 300; -->
                <span class="font-light"></span>

                <!-- font-weight: 400; -->
                <span class="font-normal"></span>

                <!-- font-weight: 500; -->
                <span class="font-medium"></span>

                <!-- font-weight: 700; -->
                <span class="font-bold"></span>

                <!-- font-style: italic; -->
                <span class="font-italic"></span>

                <!-- font-size: 0.875rem; -->
                <span class="font-sm"></span>

                <!-- font-size: 1.25rem; -->
                <span class="font-lg"></span>

                <!-- font-size: 1.5rem; -->
                <span class="font-xl"></span>
