#embed
    h2.docs-title.my-4.font-light
        | Embed
        a.anchor.ml-1.text-decoration-none(href="#embed") #
    p
        | For responsive embed, add a container with the #[code embed-responsive] class. The ratio is 16:9 by default.
    <div class="embed-responsive rounded-lg">
        <iframe src="https://player.vimeo.com/video/103725669" width="640" height="360" frameborder="0" allowfullscreen></iframe>
    </div>
    pre.code(data-lang='HTML')
        code.docs-code
            :highlight(lang="html")
                <div class="embed-responsive">
                    <iframe src="..." width="..." height="..." frameborder="0" allowfullscreen></iframe>
                </div>
