#progress
    h3.docs-title.my-4.font-light
        | Progress
        a.anchor.ml-1.text-decoration-none(href="#progress") #
    p The Progress indicates the progress completion of a task.
    .row.mb-3
        .col
            .progress
                .progress-bar(style="width: 50%")
    pre.code(data-lang='HTML')
        code.docs-code
            :highlight(lang="html")
                <div class="progress">
                    <div class="progress-bar" style="width: 50%"></div>
                </div>
#progress-sizes
    h4.docs-title.my-4.font-light
        | Sizes
        a.anchor.ml-1.text-decoration-none(href="#progress-sizes") #
    .row.mb-3
        .col
            .progress.progress-sm
                .progress-bar(style="width: 75%")
    .row.mb-3
        .col
            .progress.progress-lg
                .progress-bar(style="width: 25%")
    p
        | Add the#[code progresss-sm] or #[code progresss-lg] class for small or large progress bar.
    pre.code(data-lang='HTML')
        code.docs-code
            :highlight(lang="html")
                <div class="progress progresss-sm">
                    <div class="progress-bar" style="width: 75%"></div>
                </div>

                <div class="progress progresss-lg">
                    <div class="progress-bar" style="width: 25%"></div>
                </div>
