footer.docs-footer.mt-5.text-center
    .container.container-xxl.border-top
        .py-4
            a.text-decoration-none(href="https://github.com/halibegic" target="_blank") @halibegic

script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js")
script(src="js/demo.js")

