header.mb-5.py-4.border-bottom
    .container.container-xxl
        .d-flex.align-items-center.justify-content-between
            a.text-white.text-decoration-none(href="index.html") Coco.css
            nav
                ul.list-inline.mb-0
                    li.list-inline-item
                        a(href="index.html") Home
                    li.list-inline-item
                        a(href="docs.html") Docs
                    li.list-inline-item
                        a(href="https://github.com/halibegic/coco.css" target="_blank") GitHub
