.sticky-top
    h6.docs-title.mb-0.py-3.font-light.text-uppercase Elements
    ul.list-unstyled
        li
            a(href="#typography") Typography
        li
            a(href="#buttons") Buttons
        li
            a(href="#images") Images
    h6.docs-title.mb-0.py-3.font-light.text-uppercase Layout
    ul.list-unstyled
        li
            a(href="#containers") Containers
        li
            a(href="#grid") Grid
    h6.docs-title.mb-0.py-3.font-light.text-uppercase Components
    ul.list-unstyled
        li
            a(href="#alerts") Alerts
        li
            a(href="#avatars") Avatars
        li
            a(href="#badges") Badges
        li
            a(href="#embed") Embed
        li
            a(href="#modals") Modal
        li
            a(href="#grid") Grid
        li
            a(href="#progress") Progress
        li
            a(href="#tooltips") Tooltips
    h6.docs-title.mb-0.py-3.font-light.text-uppercase Utilities
    ul.list-unstyled
        li
            a(href="#colors") Colors
        li
            a(href="#display") Display
        li
            a(href="#loading") Loading
        li
            a(href="#opacity") Opacity
        li
            a(href="#position") Position
        li
            a(href="#shapes") Shapes
        li
            a(href="#spacing") Spacing
        li
            a(href="#text") Text
