extends ../_layout/_main
block variables
    - var title = 'Containers'
    - var navLink = 'docs'

block content
    include ../_layout/_header

    .container
        .row
            main.col-12.col-xl-10
                #containers
                    h2.mb-2
                        =title
                        a.anchor.ml-1.text-decoration-none(href="#containers") #
                    p Use  #[code container] for a fixed-width container with the specific max-width.
                    pre.code(data-lang='HTML')
                        code.docs-code
                            :highlight(lang="html")
                                <div class="container">
                                    <div class="row">
                                    ...
                                    </div>
                                </div>

            aside.col-12.col-xl-2
                include ../_layout/_sidebar

        include ../_layout/_footer
