extends ../_layout/_main
block variables
    - var title = 'Grid'
    - var navLink = 'docs'

block content
    include ../_layout/_header

    .container
        .row
            main.col-12.col-xl-10
                #grid
                    h2.mb-2.text-dark
                        =title
                        a.anchor.ml-1.text-decoration-none(href="#grid") #
                    .row.mb-3.text-center
                        .col-12
                            .p-2.bg-secondary.rounded col-12 (100%)
                    .row.mb-3.text-center
                        .col-9
                            .p-2.bg-secondary.rounded col-9 (75%)
                    .row.mb-3.text-center
                        .col-6
                            .p-2.bg-secondary.rounded col-6 (50%)
                    .row.mb-3.text-center
                        .col-3
                            .p-2.bg-secondary.rounded col-3 (25%)
                    pre.code(data-lang='HTML')
                        code.docs-code
                            :highlight(lang="html")
                                <div class="container">
                                    <div class="row">
                                        <div class="col-12">col-12</div>
                                        <div class="col-9">col-9</div>
                                        <div class="col-6">col-6</div>
                                        <div class="col-3">col-3</div>
                                    </div>
                                </div>
                #auto-width
                    h4.mt-4.mb-2
                        | Auto width
                        a.anchor.ml-1.text-decoration-none(href="#auto-width") #
                    p You can add the  #[code col-auto] class to the  #[code col] to have auto width row.
                        | There are  #[code col-sm-auto], #[code col-md-auto], #[code col-lg-auto] and #[code col-xl-auto] to set auto width in different viewport sizes.
                    .row.mb-3.text-center
                        .col-auto
                            .p-2 col-auto
                        .col
                            .p-2.bg-secondary.rounded col
                    .row.mb-3.text-center
                        .col-6.col-lg-auto
                            .p-2 col-lg-auto
                        .col
                            .p-2.bg-secondary.rounded col
                    pre.code(data-lang='HTML')
                        code.docs-code
                            :highlight(lang="html")
                                <div class="container">
                                    <div class="row">
                                        <div class="col-auto">col-auto</div>
                                        <div class="col">col</div>
                                    </div>
                                    
                                    <div class="row">
                                        <div class="col-6 col-lg-auto">col-lg-auto</div>
                                        <div class="col">col</div>
                                    </div>
                                </div>

            aside.col-12.col-xl-2
                include ../_layout/_sidebar

        include ../_layout/_footer
