/*! Coco.css Docs | MIT License | github.com/halibegic/coco.css */

// Core variables and mixins
@import "../../../src/variables";
@import "../../../src/mixins";

.docs-row {
    margin-left: -3rem;
    margin-right: -3rem;

    > .col {
        padding-left: 3rem;
        padding-right: 3rem;
    }
}

.docs-title {
    .anchor {
        opacity: 0;
        transition: opacity 0.15s linear;
    }

    &:hover .anchor {
        opacity: 1;
    }
}

.docs-modal .modal {
    position: relative;
    top: auto;
    right: auto;
    width: auto;
    height: auto;
    display: flex;
}

.docs-shape {
    display: inline-flex;
    width: 4.5rem;
    height: 4.5rem;
    align-items: center;
    justify-content: center;
    font-size: $font-size-sm;
}

.docs-code {
    .hljs {
        display: block;
        overflow-x: auto;
        color: black;
    }

    .hljs-comment,
    .hljs-quote,
    .hljs-variable {
        color: #008000;
    }

    .hljs-keyword,
    .hljs-selector-tag,
    .hljs-built_in,
    .hljs-name,
    .hljs-tag {
        color: #3232ff;
    }

    .hljs-string,
    .hljs-title,
    .hljs-section,
    .hljs-attribute,
    .hljs-literal,
    .hljs-template-tag,
    .hljs-template-variable,
    .hljs-type,
    .hljs-addition {
        color: #a31515;
    }

    .hljs-deletion,
    .hljs-selector-attr,
    .hljs-selector-pseudo,
    .hljs-meta {
        color: #2b91af;
    }

    .hljs-doctag {
        color: #808080;
    }

    .hljs-attr {
        color: #ff3232;
    }

    .hljs-symbol,
    .hljs-bullet,
    .hljs-link {
        color: #00b0e8;
    }

    .hljs-emphasis {
        font-style: italic;
    }

    .hljs-strong {
        font-weight: bold;
    }
}
