/*! Coco Documentation | MIT License | github.com/halibegic/coco-css */

// Variables and mixins
@import "../../../src/variables";
@import "../../../src/mixins";
@import "../../../node_modules/highlight.js/scss/vs.scss";

.docs-modal .modal {
    position: relative;
    top: auto;
    right: auto;
    width: auto;
    height: auto;
    display: flex;
}

.docs-shape {
    display: inline-flex;
    width: 4.5rem;
    height: 4.5rem;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    font-size: $font-size-sm;
}

.docs-shape-pill {
    width: 4.5rem;
    height: 2.25rem;
}

// Feather

.fe {
    vertical-align: -10%;
}

.fe-md {
    width: 1em;
    height: 1em;
}

.fe-lg {
    width: 2rem;
    height: 2rem;
}

.fe-xl {
    width: 3em;
    height: 3em;
}
