extends ../_layout/_main
block variables
    - var title = 'Display'
    - var navLink = 'docs'

block content
    include ../_layout/_header

    .container
        .row
            main.col-12.col-xl-10
                #display
                    h2.mb-2
                        =title
                        a.anchor.ml-1.text-decoration-none(href="#display") #
                    p Display utilities are used for display and hidden things.
                    pre.code(data-lang='HTML')
                        code.docs-code
                            :highlight(lang="html")
                                <!-- display: none; -->
                                <div class="d-none"></div>
                                <div class="d-sm-none"></div>
                                <div class="d-md-none"></div>
                                <div class="d-lg-none"></div>
                                <div class="d-xl-none"></div>

                                <!-- display: block; -->
                                <div class="d-block"></div>
                                <div class="d-sm-block"></div>
                                <div class="d-md-block"></div>
                                <div class="d-lg-block"></div>
                                <div class="d-xl-block"></div>
                                
                                <!-- display: inline; -->
                                <div class="d-inline"></div>
                                <div class="d-sm-inline"></div>
                                <div class="d-md-inline"></div>
                                <div class="d-lg-inline"></div>
                                <div class="d-xl-inline"></div>
                                
                                <!-- display: inline-block; -->
                                <div class="d-inline-block"></div>
                                <div class="d-sm-inline-block"></div>
                                <div class="d-md-inline-block"></div>
                                <div class="d-lg-inline-block"></div>
                                <div class="d-xl-inline-block"></div>
                                
                                <!-- display: flex; -->
                                <div class="d-flex"></div>
                                <div class="d-sm-flex"></div>
                                <div class="d-md-flex"></div>
                                <div class="d-lg-flex"></div>
                                <div class="d-xl-flex"></div>
                                
                                <!-- display: inline-flex; -->
                                <div class="d-inline-flex"></div>
                                <div class="d-sm-inline-flex"></div>
                                <div class="d-md-inline-flex"></div>
                                <div class="d-lg-inline-flex"></div>
                                <div class="d-xl-inline-flex"></div>
                                
                                <!-- visibility: visible; -->
                                <div class="d-visible"></div>
                                
                                <!-- visibility: hidden; -->
                                <div class="d-invisible"></div>

            aside.col-12.col-xl-2
                include ../_layout/_sidebar

        include ../_layout/_footer
