extends ../_layout/_main
block variables
    - var title = 'Loading'
    - var navLink = 'docs'

block content
    include ../_layout/_header

    .container
        .row
            main.col-12.col-xl-10
                #loading
                    h2.mb-2.text-dark
                        =title
                        a.anchor.ml-1.text-decoration-none(href="#loading") #
                    p Loading indicator is used for loading or updating.
                    .row.mb-3
                        .col-12
                            .loading
                    pre.code(data-lang='HTML')
                        code.docs-code
                            :highlight(lang="html")
                                <div class="loading"></div>
                #colors
                    h4.mt-4.mb-2
                        | Colors
                        a.anchor.ml-1.text-decoration-none(href="#colors") #
                    p Use color utility to set loading color.
                    .row
                        .col-12
                            .loading.text-primary.mr-3
                            .loading.text-secondary.mr-3
                            .loading.text-success.mr-3
                            .loading.text-error.mr-3
                            .loading.text-warning.mr-3
                            .loading.text-info.mr-3
                            .loading.text-dark.mr-3
                            .loading.text-light.mr-3
                #sizes
                    h4.mt-4.mb-2
                        | Sizes
                        a.anchor.ml-1.text-decoration-none(href="#sizes") #
                    p   Add the  #[code loading-sm] or #[code loading-lg] class for small or large loading size.
                    .row.mb-3
                        .col-12.d-flex.align-items-center
                            .loading.loading-sm.mr-3
                            .loading.loading-lg
                    pre.code(data-lang='HTML')
                        code.docs-code
                            :highlight(lang="html")
                                <!-- small -->
                                <div class="loading loading-sm"></div>

                                <!-- large -->
                                <div class="loading loading-lg"></div>

            aside.col-12.col-xl-2
                include ../_layout/_sidebar

        include ../_layout/_footer

