extends ../_layout/_main
block variables
    - var title = 'Position'
    - var navLink = 'docs'

block content
    include ../_layout/_header

    .container
        .row
            main.col-12.col-xl-10
                #position
                    h2.mb-2
                        =title
                        a.anchor.ml-1.text-decoration-none(href="#position") #
                    p Position utilities are used for useful layout and position things, including clearfix, float and position utilities.
                    pre.code(data-lang='HTML')
                        code.docs-code
                            :highlight(lang="html")
                                <!-- clear float -->
                                <div class="clearfix"></div>
                                
                                <!-- float: left, right and none -->
                                <div class="float-left"></div>
                                <div class="float-right"></div>
                                <div class="float-none"></div>
                                
                                <!-- position: relative, absolute, fixed and sticky -->
                                <div class="position-relative"></div>
                                <div class="position-absolute"></div>
                                <div class="position-fixed"></div>
                                <div class="position-sticky"></div>
                                
                                <!-- position: absolute; top: 0; -->
                                <div class="absolute-top"></div>

                                <!-- position: absolute; top: 0; left: 0; -->
                                <div class="absolute-top-left"></div>

                                <!-- position: absolute; top: 0; right: 0; -->
                                <div class="absolute-top-right"></div>
                                
                                <!-- position: absolute; bottom: 0; -->
                                <div class="absolute-bottom"></div>

                                <!-- position: absolute; bottom: 0; left: 0; -->
                                <div class="absolute-bottom-left"></div>

                                <!-- position: absolute; bottom: 0; right: 0; -->
                                <div class="absolute-bottom-right"></div>

                                <!-- position: fixed; top: 0; -->
                                <div class="fixed-top"></div>

                                <!-- position: fixed; top: 0; left; -->
                                <div class="fixed-top-left"></div>

                                <!-- position: fixed; top: 0; right; -->
                                <div class="fixed-top-right"></div>
                                
                                <!-- position: fixed; bottom: 0; -->
                                <div class="fixed-bottom"></div>

                                <!-- position: fixed; bottom: 0; left; -->
                                <div class="fixed-bottom-left"></div>

                                <!-- position: fixed; bottom: 0; right; -->
                                <div class="fixed-bottom-right"></div>

                                <!-- position: sticky; top: 0; -->
                                <div class="sticky-top"></div>
                                
                                <!-- position: sticky; bottom: 0; left: 0; -->
                                <div class="sticky-bottom"></div>

            aside.col-12.col-xl-2
                include ../_layout/_sidebar

        include ../_layout/_footer
