extends ../_layout/_main
block variables
    - var title = 'Media'
    - var navLink = 'docs'

block content
    include ../_layout/_header

    .container
        .row
            main.col-12.col-xl-10
                #aspect-ratios
                    h2.mt-4.mb-2.text-dark
                        | Aspect ratios
                        a.anchor.ml-1.text-decoration-none(href="#aspect-ratios") #
                    p  Set a ratio to the element by applying the ratio classes.
                    .row.mb-3
                        .col-3
                            .ratio.ratio-1x1.bg-primary.rounded-lg
                                .ratio-item.docs-shape.font-lg 1x1
                        .col-3
                            .ratio.ratio-4x3.bg-primary.rounded-lg
                                .ratio-item.docs-shape.font-lg 4x3
                        .col-3
                            .ratio.ratio-16x9.bg-primary.rounded-lg
                                .ratio-item.docs-shape.font-lg 16x9
                        .col-3
                            .ratio.ratio-21x9.bg-primary.rounded-lg
                                .ratio-item.docs-shape.font-lg 21x9
                    pre.code(data-lang='HTML')
                        code.docs-code
                            :highlight(lang="html")
                                <div class="ratio ratio-1x1">
                                    <div class="ratio-item">1x1</div>
                                </div>

                                <div class="ratio ratio-4x3">
                                    <div class="ratio-item">4x3</div>
                                </div>

                                <div class="ratio ratio-16x9">
                                    <div class="ratio-item">16x9</div>
                                </div>

                                <div class="ratio ratio-21x9">
                                    <div class="ratio-item">21x9</div>
                                </div>

                #embed
                    h2.mt-4.mb-2
                        | Embed
                        a.anchor.ml-1.text-decoration-none(href="#embed") #
                    p  Insert any YouTube, Vimeo or other iframe/embed video inside the ratio container.
                    .row.mb-3
                        .col-12
                            .ratio.ratio-16x9.bg-black.rounded-lg.overflow-hidden
                                iframe.ratio-item(src="https://www.youtube.com/embed/EKuV5gGD9tc" frameborder="0" allowfullscreen="")

                    pre.code(data-lang='HTML')
                        code.docs-code
                            :highlight(lang="html")
                                <div class="ratio ratio-16x9">
                                    <iframe class="ratio-item" src="..." frameborder="0" allowfullscreen></iframe>
                                </div>

            aside.col-12.col-xl-2
                include ../_layout/_sidebar

        include ../_layout/_footer
