extends ../_layout/_main
block variables
    - var title = 'Shapes'
    - var navLink = 'docs'

block content
    include ../_layout/_header

    .container
        .row
            main.col-12.col-xl-10
                #shapes
                    h2.mb-2
                        =title
                        a.anchor.ml-1.text-decoration-none(href="#shapes") #
                    p Shape utilities are used for changing element shapes.
                #border
                    h4.mt-4.mb-2
                        | Border
                        a.anchor.ml-1.text-decoration-none(href="#border") #
                    .row
                        .col-12
                            span.docs-shape.mb-3.mr-3.border.border-primary.bg-light default
                            span.docs-shape.mb-3.mr-3.border-top.border-primary.bg-light top
                            span.docs-shape.mb-3.mr-3.border-right.border-primary.bg-light right
                            span.docs-shape.mb-3.mr-3.border-bottom.border-primary.bg-light bottom
                            span.docs-shape.mb-3.mr-3.border-left.border-primary.bg-light left
                            span.docs-shape.mb-3.mr-3.border.border-0.border-primary.bg-light 0
                            span.docs-shape.mb-3.mr-3.border.border-top-0.border-primary.bg-light top 0
                            span.docs-shape.mb-3.mr-3.border.border-right-0.border-primary.bg-light right 0
                            span.docs-shape.mb-3.mr-3.border.border-bottom-0.border-primary.bg-light bottom 0
                            span.docs-shape.mb-3.border.border-left-0.border-primary.bg-light left 0
                    pre.code(data-lang='HTML')
                        code.docs-code
                            :highlight(lang="html")
                                <span class="border"></span>
                                <span class="border-top"></span>
                                <span class="border-right"></span>
                                <span class="border-bottom"></span>
                                <span class="border-left"></span>
                                <span class="border-0">0</span>
                                <span class="border-top-0"></span>
                                <span class="border-right-0"></span>
                                <span class="border-bottom-0"></span>
                                <span class="border-left-0"></span>
                #border-colors
                    h4.mt-4.mb-2
                        | Colors
                    .row
                        .col-12
                            span.docs-shape.mb-3.mr-3.border.border-primary primary
                            span.docs-shape.mb-3.mr-3.border.border-secondary secondary
                            span.docs-shape.mb-3.mr-3.border.border-success success
                            span.docs-shape.mb-3.mr-3.border.border-error error
                            span.docs-shape.mb-3.mr-3.border.border-warning warning
                            span.docs-shape.mb-3.mr-3.border.border-dark dark
                            span.docs-shape.mb-3.mr-3.border.border-light light
                            span.docs-shape.mb-3.mr-3.border.border-white white
                            span.docs-shape.mb-3.mr-3.border.border-black black
                    pre.code(data-lang='HTML')
                        code.docs-code
                            :highlight(lang="html")
                                <span class="border border-primary"></span>
                                <span class="border border-secondary"></span>
                                <span class="border border-success"></span>
                                <span class="border border-error"></span>
                                <span class="border border-warning"></span>
                                <span class="border border-dark"></span>
                                <span class="border border-light"></span>
                                <span class="border border-white"></span>
                                <span class="border border-black"></span>
                #border-radius
                    h4.mt-4.mb-2
                        | Border Radius
                        a.anchor.ml-1.text-decoration-none(href="#border-radius") #
                    .row
                        .col-12
                            span.docs-shape.mb-3.mr-3.rounded-sm.bg-primary sm
                            span.docs-shape.mb-3.mr-3.rounded.bg-primary default
                            span.docs-shape.mb-3.mr-3.rounded-lg.bg-primary lg
                            span.docs-shape.mb-3.mr-3.rounded-top.bg-primary top
                            span.docs-shape.mb-3.mr-3.rounded-right.bg-primary right
                            span.docs-shape.mb-3.mr-3.rounded-bottom.bg-primary bottom
                            span.docs-shape.mb-3.mr-3.rounded-left.bg-primary left
                            span.docs-shape.mb-3.mr-3.rounded-circle.bg-primary circle
                            span.docs-shape.docs-shape-pill.mb-3.mr-3.rounded-pill.bg-primary pill
                            span.docs-shape.mb-3.rounded-0.bg-primary 0
                    pre.code(data-lang='HTML')
                        code.docs-code
                            :highlight(lang="html")
                                <span class="rounded-sm"></span>
                                <span class="rounded"></span>
                                <span class="rounded-lg"></span>
                                <span class="rounded-top"></span>
                                <span class="rounded-right"></span>
                                <span class="rounded-bottom"></span>
                                <span class="rounded-left"></span>
                                <span class="rounded-circle"></span>
                                <span class="rounded-pill"></span>
                                <span class="rounded-0"></span>
                #shadows
                    h4.mt-4.mb-2
                        | Shadows
                        a.anchor.ml-1.text-decoration-none(href="#shadows") #
                    .row
                        .col-12
                            span.docs-shape.mb-3.mr-3.rounded.shadow-sm sm
                            span.docs-shape.mb-3.mr-3.rounded.shadow default
                            span.docs-shape.mb-3.mr-3.rounded.shadow-lg lg
                            span.docs-shape.mb-3.mr-3.rounded.shadow-inset inset
                            span.docs-shape.mb-3.mr-3.rounded.shadow-none none
                    pre.code(data-lang='HTML')
                        code.docs-code
                            :highlight(lang="html")
                                <span class="shadow-sm"></span>
                                <span class="shadow"></span>
                                <span class="shadow-lg"></span>
                                <span class="shadow-inset"></span>
                                <span class="shadow-none"></span>

            aside.col-12.col-xl-2
                include ../_layout/_sidebar

        include ../_layout/_footer

