.close {
    font-size: $close-font-size;
    font-weight: $close-font-weight;
    line-height: $close-line-height;
    cursor: pointer;
    color: inherit;
    outline: none;
    opacity: 0.5;
    background-color: transparent;
    border: 0;

    &:hover {
        text-decoration: none;
    }

    &:hover,
    &:focus {
        opacity: 0.75;
    }
}
