// Text colors

// Colors
@each $color, $value in $theme-colors {
    @include text-color-variant(".text-#{$color}", $value);
}

@include text-color-variant(".text-white", $white);
@include text-color-variant(".text-black", $black);
@include text-color-variant(".text-muted", $muted);

// Background colors
@each $color, $value in $theme-colors {
    @include bg-variant(".bg-#{$color}", $value);
}

@include bg-variant(".bg-white", $white);
@include bg-variant(".bg-black", $black);

.bg-transparent {
    background-color: transparent !important;
}

@each $color, $value in $theme-colors {
    @include bg-soft-variant(".bg-#{$color}-soft", $value);
}

@include bg-soft-variant(".bg-white-soft", $white);
@include bg-soft-variant(".bg-black-soft", $black);

// Border colors
@each $color, $value in $theme-colors {
    @include border-variant(".border-#{$color}", $value);
}

@include border-variant(".border-white", $white);
@include border-variant(".border-black", $black);
