// Loading

.loading {
    display: inline-block;
    position: relative;
    width: $loading-width;
    height: $loading-height;
    line-height: 1;
    color: $primary;
    pointer-events: none;

    &::after {
        display: block;
        position: absolute;
        left: 50%;
        top: 50%;
        margin-left: -$loading-width * 0.5;
        margin-top: -$loading-height * 0.5;
        width: $loading-width;
        height: $loading-height;
        content: "";
        border-radius: 50%;
        border: $loading-border-width solid currentColor;
        border-right-color: transparent;
        border-top-color: transparent;
        animation: loading 500ms infinite linear;
    }

    &.loading-sm {
        width: $loading-width-sm;
        height: $loading-height-sm;

        &::after {
            margin-top: -$loading-height-sm * 0.5;
            margin-left: -$loading-width-sm * 0.5;
            width: $loading-width-sm;
            height: $loading-height-sm;
            border-width: $loading-border-width-sm;
        }
    }

    &.loading-lg {
        width: $loading-width-lg;
        height: $loading-height-lg;

        &::after {
            margin-top: -$loading-height-lg * 0.5;
            margin-left: -$loading-width-lg * 0.5;
            width: $loading-width-lg;
            height: $loading-height-lg;
            border-width: $loading-border-width-lg;
        }
    }
}
