// Text
// Alignment
@each $breakpoint, $width in $grid-breakpoints {
    @include media-breakpoint-up($breakpoint) {
        $infix: breakpoint-infix($breakpoint, $grid-breakpoints);

        .text#{$infix}-left {
            text-align: left !important;
        }

        .text#{$infix}-right {
            text-align: right !important;
        }

        .text#{$infix}-center {
            text-align: center !important;
        }
    }
}

.text-justify {
    text-align: justify !important;
}

// Transform
.text-lowercase {
    text-transform: lowercase !important;
}

.text-uppercase {
    text-transform: uppercase !important;
}

.text-capitalize {
    text-transform: capitalize !important;
}

// Decoration
.text-decoration-underline {
    text-decoration: underline !important;
}

.text-decoration-none {
    text-decoration: none !important;
}

// wrapping
.text-nowrap {
    white-space: nowrap !important;
}

// Overflow
.text-ellipsis {
    text-overflow: ellipsis !important;
    white-space: nowrap !important;
    overflow: hidden !important;
}

.text-clip {
    text-overflow: clip !important;
    white-space: nowrap !important;
    overflow: hidden !important;
}

.text-break {
    hyphens: auto !important;
    word-break: break-word !important;
    word-wrap: break-word !important;
}

// Letter spacing
.text-tight {
    letter-spacing: $letter-spacing-tight;
}

.text-wide {
    letter-spacing: $letter-spacing-wide;
}

.text-wider {
    letter-spacing: $letter-spacing-wider;
}

// Weight
.font-lighter {
    font-weight: $font-weight-lighter !important;
}

.font-light {
    font-weight: $font-weight-light !important;
}

.font-normal {
    font-weight: $font-weight-normal !important;
}

.font-medium {
    font-weight: $font-weight-medium !important;
}

.font-semi-bold {
    font-weight: $font-weight-semi-bold !important;
}

.font-bold {
    font-weight: $font-weight-bold !important;
}

.font-extra-bold {
    font-weight: $font-weight-extra-bold !important;
}

// Style
.font-italic {
    font-style: italic !important;
}

// Size
.font-0 {
    font-size: 0 !important;
}

.font-xs {
    font-size: $font-size-xs !important;
}

.font-sm {
    font-size: $font-size-sm !important;
}

.font-md {
    font-size: $font-size-base !important;
}

.font-lg {
    font-size: $font-size-lg !important;
}

.font-xl {
    font-size: $font-size-xl !important;
}

// Line height
.leading-xs {
    line-height: $line-height-xs !important;
}

.leading-sm {
    line-height: $line-height-sm !important;
}

.leading-md {
    line-height: $line-height-base !important;
}

.leading-lg {
    line-height: $line-height-lg !important;
}
