/*! coco-css v0.0.1 MIT License https://halibegic.github.io/coco-css */
/*! Coco Documentation | MIT License | github.com/halibegic/coco-css */
/*

Visual Studio-like style based on original C# coloring by Jason Diamond <jason@diamond.name>

*/
.hljs { display: block; overflow-x: auto; padding: 0.5em; background: white; color: black; }

.hljs-comment, .hljs-quote, .hljs-variable { color: #008000; }

.hljs-keyword, .hljs-selector-tag, .hljs-built_in, .hljs-name, .hljs-tag { color: #00f; }

.hljs-string, .hljs-title, .hljs-section, .hljs-attribute, .hljs-literal, .hljs-template-tag, .hljs-template-variable, .hljs-type, .hljs-addition { color: #a31515; }

.hljs-deletion, .hljs-selector-attr, .hljs-selector-pseudo, .hljs-meta { color: #2b91af; }

.hljs-doctag { color: #808080; }

.hljs-attr { color: #f00; }

.hljs-symbol, .hljs-bullet, .hljs-link { color: #00b0e8; }

.hljs-emphasis { font-style: italic; }

.hljs-strong { font-weight: bold; }

.docs-modal .modal { position: relative; top: auto; right: auto; width: auto; height: auto; display: -ms-flexbox; display: flex; }

.docs-shape { display: -ms-inline-flexbox; display: inline-flex; width: 4.5rem; height: 4.5rem; -ms-flex-align: center; align-items: center; -ms-flex-pack: center; justify-content: center; -ms-flex-negative: 0; flex-shrink: 0; font-size: 0.875rem; }

.docs-shape-pill { width: 4.5rem; height: 2.25rem; }

.fe { vertical-align: -10%; }

.fe-md { width: 1em; height: 1em; }

.fe-lg { width: 2rem; height: 2rem; }

.fe-xl { width: 4em; height: 4em; }
