extends ../_layout/_main
block variables
    - var title = 'Alerts'
    - var navLink = 'docs'

block content
    include ../_layout/_header

    .container
        .row
            main.col-12.col-xl-10
                #alerts
                    h2.mb-2.text-dark
                        | Alerts
                        a.anchor.ml-1.text-decoration-none(href="#alerts") #
                    p Notification toast using the  #[code alert] class.
                #colors
                    h4.mt-4.mb-2
                        | Colors
                        a.anchor.ml-1.text-decoration-none(href="#colors") #
                    p And you can add the  #[code alert-success], #[code alert-error], #[code alert-warning] or #[code alert-info] class for additional alert colors.
                    .row
                        .col-12
                            .alert.alert-success.mb-3(role="alert")
                                .alert-title Title
                                div Lorem ipsum dolor sit amet, consectetur adipiscing elit.

                            .alert.alert-error.mb-3(role="alert")
                                .alert-title Title
                                div Lorem ipsum dolor sit amet, consectetur adipiscing elit.

                            .alert.alert-warning.mb-3(role="alert")
                                .alert-title Title
                                div Lorem ipsum dolor sit amet, consectetur adipiscing elit.

                            .alert.alert-info.mb-3(role="alert")
                                .alert-title Title
                                div Lorem ipsum dolor sit amet, consectetur adipiscing elit.

                #link
                    h4.mt-4.mb-2
                        | Link
                        a.anchor.ml-1.text-decoration-none(href="#link") #
                    .row
                        .col-12
                            .alert.alert-success.mb-3
                                | Lorem ipsum dolor sit amet - 
                                a.alert-link(href="#link") check it out!

                            .alert.alert-error.mb-3
                                | Lorem ipsum dolor sit amet - 
                                a.alert-link(href="#link") check it out!

                            .alert.alert-warning.mb-3
                                | Lorem ipsum dolor sit amet - 
                                a.alert-link(href="#link") check it out!

                            .alert.alert-info.mb-3
                                | Lorem ipsum dolor sit amet - 
                                a.alert-link(href="#link") check it out!

                #icons
                    h4.mt-4.mb-2
                        | Icons
                        a.anchor.ml-1.text-decoration-none(href="#icons") #
                    .row
                        .col-12
                            .alert.alert-success.mb-3(role="alert")
                                .d-flex
                                    i.fe.alert-icon(data-feather="check")
                                    div
                                        .alert-title Title
                                        div Lorem ipsum dolor sit amet, consectetur adipiscing elit.

                            .alert.alert-error.mb-3(role="alert")
                                .d-flex
                                    i.fe.alert-icon(data-feather="alert-circle")
                                    div
                                        .alert-title Title
                                        div Lorem ipsum dolor sit amet, consectetur adipiscing elit.

                            .alert.alert-warning.mb-3(role="alert")
                                .d-flex
                                    i.fe.alert-icon(data-feather="alert-triangle")
                                    div
                                        .alert-title Title
                                        div Lorem ipsum dolor sit amet, consectetur adipiscing elit.

                            .alert.alert-info.mb-3(role="alert")
                                .d-flex
                                    i.fe.alert-icon(data-feather="info")
                                    div
                                        .alert-title Title
                                        div Lorem ipsum dolor sit amet, consectetur adipiscing elit.

                #important
                    h4.mt-4.mb-2
                        | Important
                        a.anchor.ml-1.text-decoration-none(href="#important") #
                    p If you want your alert to be really eye-catching, you can add a class  #[code alert-important].

                    .row
                        .col-12 
                            .alert.alert-success.alert-important.mb-3
                                .d-flex
                                    i.fe.alert-icon(data-feather="check")
                                    div Lorem ipsum dolor sit amet, consectetur adipiscing elit.

                            .alert.alert-error.alert-important.mb-3
                                .d-flex
                                    i.fe.alert-icon(data-feather="alert-circle")
                                    div Lorem ipsum dolor sit amet, consectetur adipiscing elit.

                            .alert.alert-warning.alert-important.mb-3
                                .d-flex
                                    i.fe.alert-icon(data-feather="alert-triangle")
                                    div Lorem ipsum dolor sit amet, consectetur adipiscing elit.

                            .alert.alert-info.alert-important.mb-3
                                .d-flex
                                    i.fe.alert-icon(data-feather="info")
                                    div Lorem ipsum dolor sit amet, consectetur adipiscing elit.

                #dismiss
                    h4.mt-4.mb-2
                        | Dismiss
                        a.anchor.ml-1.text-decoration-none(href="#dismiss") #
                    p You can dismiss alert with the example below.

                    .alert.alert-info.mb-3(role="alert")
                        .d-flex
                            i.fe.alert-icon(data-feather="check")
                            div Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        button.close.alert-close(data-dismiss="alert") &times;
                        
                    .alert.alert-info.mb-3
                        .d-flex
                            i.fe.alert-icon(data-feather="check")
                            div
                                .alert-title Title
                                div Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        button.close.alert-close(data-dismiss="alert") &times;

                    pre.code(data-lang='JavaScript')
                        code.docs-code
                            :highlight(lang="js")
                                document.addEventListener("DOMContentLoaded", function () {
                                    [].forEach.call(
                                        document.querySelectorAll("[data-dismiss='alert']"),
                                        function (el) {
                                            el.onclick = function () {
                                                el.closest(".alert").style.display = "none";
                                                return false;
                                            };
                                        }
                                    );
                                });

            aside.col-12.col-xl-2
                include ../_layout/_sidebar

        include ../_layout/_footer
