extends ../_layout/_main
block variables
    - var title = 'Breadcrumb'
    - var navLink = 'docs'

block content
    include ../_layout/_header

    .container
        .row
            main.col-12.col-xl-10
                #breadcrumb
                    h2.mb-2
                        | Breadcrumb
                        a.anchor.ml-1.text-decoration-none(href="breadcrumb") #
                    p Breadcrumb is used show the current page navigation.
                    .row
                        .col-12
                            nav(aria-label="breadcrumb")
                                ol.breadcrumb
                                    li
                                        a(href="#") Home
                                    li
                                        a(href="#") Some Page
                                    li
                                        a(href="#") Some Category
                                    li
                                        span.active Current Page
                    pre.code(data-lang='HTML')
                        code.docs-code
                            :highlight(lang="html")
                                <nav aria-label="breadcrumb">
                                    <ol class="breadcrumb">
                                        <li><a href="#">Home</a></li>
                                        <li><a href="#">Some Page</a></li>
                                        <li><a href="#">Some Category</a></li>
                                        <li><span class="active">Current Page</span></li>
                                    </ol>
                                </nav>
                                
            aside.col-12.col-xl-2
                include ../_layout/_sidebar

        include ../_layout/_footer
