extends ../_layout/_main
block variables
    - var title = 'Modals'
    - var navLink = 'docs'

block content
    include ../_layout/_header

    .container
        .row
            main.col-12.col-xl-10
                #modals
                    h2.mb-2.text-dark
                        | Modals
                        a.anchor.ml-1.text-decoration-none(href="#modals") #
                    p Modals are flexible dialog prompts.
                    .row.mb-3
                        .col-12
                            button.btn.btn-primary(data-toggle="modal" data-target="modal-example-1") Open modal
                    .docs-modal.mb-3
                        .modal.show
                            .modal-content.border.shadow-sm
                                .modal-header
                                    .modal-title.h5 Modal title
                                    button.close &times;
                                .modal-body
                                    p
                                        | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent risus leo, dictum in vehicula sit amet, feugiat tempus tellus. Duis quis sodales risus. Etiam euismod ornare consequat.
                                .modal-footer
                                    button.btn.btn-primary Save changes
                                    button.btn.btn-light Close
                    .row.mb-3
                        .col-12
                            pre.code(data-lang='HTML')
                                code.docs-code
                                    :highlight(lang="html")
                                        <div class="modal show" id="modal-example-1">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <div class="modal-title h5">Modal title</div>
                                                    <button class="close" data-dismiss="modal">&times;</button>
                                                </div>
                                                <div class="modal-body">
                                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                                                    Praesent risus leo, dictum in vehicula sit amet, feugiat tempus tellus. 
                                                    Duis quis sodales risus. Etiam euismod ornare consequat.
                                                </div>
                                                <div class="modal-footer">
                                                    <button class="btn btn-primary">Save changes</button>
                                                    <button class="btn btn-light" data-dismiss="modal">Cancel</button>
                                                </div>
                                            </div>
                                        </div>
                #sizes
                    h4.mt-4.mb-2
                        | Sizes
                        a.anchor.ml-1.text-decoration-none(href="#sizes") #
                    .row.mb-3
                        .col-12
                            button.btn.btn-primary(data-toggle="modal" data-target="modal-example-2") Open small modal
                    p Use the  #[code modal-sm] class for a smaller size modal.
                    .row.mb-3
                        .col-12
                            button.btn.btn-primary(data-toggle="modal" data-target="modal-example-3") Open large modal
                    p Use the  #[code modal-lg] class for a full size modal.
                    .modal.fade#modal-example-1
                        a.modal-overlay(href="#" data-dismiss="modal")
                        .modal-content
                            .modal-header
                                .modal-title.h5 Modal title
                                button.close(data-dismiss="modal") &times;
                            .modal-body
                                p
                                    | This is the content inside the modal.
                                p
                                    | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent risus leo, dictum in vehicula sit amet, feugiat tempus tellus. Duis quis sodales risus. Etiam euismod ornare consequat.
                            .modal-footer
                                button.btn.btn-primary Save changes
                                button.btn.btn-light(data-dismiss="modal") Close
                    .modal.modal-sm.fade#modal-example-2
                        a.modal-overlay(href="#" data-dismiss="modal")
                        .modal-content
                            .modal-header
                                .modal-title.h5 Modal title
                                button.close(data-dismiss="modal") &times;
                            .modal-body
                                p
                                    | This is the content inside the modal.
                                p
                                    | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent risus leo, dictum in vehicula sit amet, feugiat tempus tellus. Duis quis sodales risus. Etiam euismod ornare consequat.
                            .modal-footer
                                button.btn.btn-primary Save changes
                                button.btn.btn-light(data-dismiss="modal") Close
                    .modal.modal-lg.fade#modal-example-3
                        a.modal-overlay(href="#" data-dismiss="modal")
                        .modal-content
                            .modal-header
                                .modal-title.h5 Modal title
                                button.close(data-dismiss="modal") &times;
                            .modal-body
                                p
                                    | This is the content inside the modal.
                                p
                                    | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent risus leo, dictum in vehicula sit amet, feugiat tempus tellus. Duis quis sodales risus. Etiam euismod ornare consequat.
                            .modal-footer
                                button.btn.btn-primary Save changes
                                button.btn.btn-light(data-dismiss="modal") Close

                #show
                    h4.mt-4.mb-2
                        | Show
                        a.anchor.ml-1.text-decoration-none(href="#show") #
                    p You can show modal with the example below
                    pre.code(data-lang='JavaScript')
                        code.docs-code
                            :highlight(lang="js")
                                document.addEventListener("DOMContentLoaded", function () {
                                    [].forEach.call(
                                        document.querySelectorAll("[data-toggle='modal']"),
                                        function (el) {
                                            el.onclick = function () {
                                                document.getElementById(el.getAttribute("data-target")).classList.add("show");
                                                return false;
                                            };
                                        }
                                    );
                                });

                #dismiss
                    h4.mt-4.mb-2
                        | Dismiss
                        a.anchor.ml-1.text-decoration-none(href="#dismiss") #
                    p You can dismiss modal with the example below
                    pre.code(data-lang='JavaScript')
                        code.docs-code
                            :highlight(lang="js")
                                document.addEventListener("DOMContentLoaded", function () {
                                    [].forEach.call(
                                        document.querySelectorAll("[data-dismiss='modal'"),
                                        function (el) {
                                            el.onclick = function () {
                                                el.closest(".modal").classList.remove("show");
                                                return false;
                                            };
                                        }
                                    );
                                });

            aside.col-12.col-xl-2
                include ../_layout/_sidebar

        include ../_layout/_footer
