.mb-5.sticky-top
    h6.mb-2.text-uppercase Elements
    ul.list-unstyled
        li
            a(href="/elements/typography.html") Typography
        li
            a(href="/elements/buttons.html") Buttons
        li
            a(href="/elements/forms.html") Forms
        li
            a(href="/elements/code.html") Code
        li
            a(href="/elements/images.html") Images
        li
            a(href="/elements/label.html") Label

    h6.mt-4.mb-2.text-uppercase Layout
    ul.list-unstyled
        li
            a(href="/layout/containers.html") Containers
        li
            a(href="/layout/grid.html") Grid
        li
            a(href="/layout/responsive.html") Responsive

    h6.mt-4.mb-2.text-uppercase Components
    ul.list-unstyled
        li
            a(href="/components/alerts.html") Alerts
        li
            a(href="/components/avatars.html") Avatars
        li
            a(href="/components/cards.html") Card
        li
            a(href="/components/callouts.html") Callouts
        li
            a(href="/components/modals.html") Modal
        li
            a(href="/components/progress.html") Progress

    h6.mt-4.mb-2.text-uppercase Utilities
    ul.list-unstyled
        li
            a(href="/utilities/align.html") Align
        li
            a(href="/utilities/colors.html") Colors
        li
            a(href="/utilities/display.html") Display
        li
            a(href="/utilities/loading.html") Loading
        li
            a(href="/utilities/opacity.html") Opacity
        li
            a(href="/utilities/position.html") Position
        li
            a(href="/utilities/shapes.html") Shapes
        li
            a(href="/utilities/sizing.html") Sizing
        li
            a(href="/utilities/spacing.html") Spacing
        li
            a(href="/utilities/text.html") Text
