extends ../_layout/_main
block variables
    - var title = 'Buttons'
    - var navLink = 'docs'

block content
    include ../_layout/_header

    .container
        .row
            main.col-12.col-xl-10
                #buttons
                    h2.mb-2.text-dark
                        | Buttons
                        a.anchor.ml-1.text-decoration-none(href="#buttons") #
                    p Buttons include simple button styles for actions in different types and sizes.
                    .row
                        .col-12
                            button.btn.mb-3.mr-3 default
                            button.btn.btn-link.mb-3 link
                    pre.code(data-lang='HTML')
                        code.docs-code
                            :highlight(lang="html")
                                <button class="btn">default</button>
                                <button class="btn btn-link">link</button>
                #colors
                    h4.mt-4.mb-2
                        | Colors
                        a.anchor.ml-1.text-decoration-none(href="#colors") #
                    p And you can add the  #[code btn-primary], #[code btn-secondary], #[code btn-success], #[code btn-error], #[code btn-warning], #[code btn-info], #[code btn-dark] or #[code btn-light] class for additional button colors.
                    .row
                        .col-12
                            button.btn.btn-primary.mb-3.mr-3 primary
                            button.btn.btn-secondary.mb-3.mr-3 secondary
                            button.btn.btn-success.mb-3.mr-3 success
                            button.btn.btn-error.mb-3.mr-3 error
                            button.btn.btn-warning.mb-3.mr-3 warning
                            button.btn.btn-info.mb-3.mr-3 info
                            button.btn.btn-dark.mb-3.mr-3 dark
                            button.btn.btn-light.mb-3 light
                    pre.code.mb-3(data-lang='HTML')
                        code.docs-code
                            :highlight(lang="html")
                                <button class="btn btn-primary">primary</button>
                                <button class="btn btn-secondary">secondary</button>
                                <button class="btn btn-success">success</button>
                                <button class="btn btn-error">error</button>
                                <button class="btn btn-warning">warning</button>
                                <button class="btn btn-info">info</button>
                                <button class="btn btn-dark">dark</button>
                                <button class="btn btn-light">light</button>
                    .row
                        .col-12
                            button.btn.btn-outline-primary.mb-3.mr-3 primary
                            button.btn.btn-outline-secondary.mb-3.mr-3 secondary
                            button.btn.btn-outline-success.mb-3.mr-3 success
                            button.btn.btn-outline-error.mb-3.mr-3 error
                            button.btn.btn-outline-warning.mb-3.mr-3 warning
                            button.btn.btn-outline-info.mb-3.mr-3 info
                            button.btn.btn-outline-dark.mb-3.mr-3 dark
                            button.btn.btn-outline-light.mb-3 light
                    pre.code(data-lang='HTML')
                        code.docs-code
                            :highlight(lang="html")
                                <button class="btn btn-outline-primary">primary</button>
                                <button class="btn btn-outline-secondary">secondary</button>
                                <button class="btn btn-outline-success">success</button>
                                <button class="btn btn-outline-error">error</button>
                                <button class="btn btn-outline-warning">warning</button>
                                <button class="btn btn-outline-info">info</button>
                                <button class="btn btn-outline-dark">dark</button>
                                <button class="btn btn-outline-light">light</button>
                #sizes
                    h4.mt-4.mb-2
                        | Sizes
                        a.anchor.ml-1.text-decoration-none(href="#sizes") #
                    p Add the  #[code btn-sm] or #[code btn-lg] class for small or large button size. Also, you can add the btn-block class for a full-width button.
                    .row
                        .col-12.d-flex.align-items-center
                            button.btn.btn-primary.btn-sm.mb-3.mr-3 small
                            button.btn.btn-primary.btn-lg.mb-3.mr-3 large
                            button.btn.btn-primary.btn-block.flex-grow-1.mb-3 block
                    pre.code(data-lang='HTML')
                        code.docs-code
                            :highlight(lang="html")
                                <button class="btn btn-primary btn-sm">small</button>
                                <button class="btn btn-primary btn-lg">large</button>
                                <button class="btn btn-primary btn-block">block</button>
                #states
                    h4.mt-4.mb-2
                        | States
                        a.anchor.ml-1.text-decoration-none(href="#states") #
                    p Add the  #[code active] or #[code disabled] class for active or disabled button state.
                    .row
                        .col-12
                            button.btn.btn-primary.active.mb-3.mr-3 active
                            button.btn.btn-primary.disabled.mb-3(tabindex="-1") disabled
                    pre.code(data-lang='HTML')
                        code.docs-code
                            :highlight(lang="html")
                                <button class="btn btn-primary active">active</button>
                                <button class="btn btn-primary disabled">disabled</button>
                                <button class="btn btn-primary disabled">disabled</button>

            aside.col-12.col-xl-2
                include ../_layout/_sidebar

        include ../_layout/_footer
