extends ../_layout/_main
block variables
    - var title = 'Typography'
    - var navLink = 'docs'

block content
    include ../_layout/_header

    .container
        .row
            main.col-12.col-xl-10
                #typography
                    h2.mb-2
                        | Typography
                        a.anchor.ml-1.text-decoration-none(href="#typography") #
                    p Typography sets default styles for headings, paragraphs, semantic text, blockquote and lists elements.
                    .row
                        .col-12
                            h1.mb-3
                                | H1 Heading 
                                small.label.bg-primary-soft 40px
                            h2.mb-3
                                | H2 Heading 
                                small.label.bg-primary-soft 32px
                            h3.mb-3
                                | H3 Heading 
                                small.label.bg-primary-soft 28px
                            h4.mb-3
                                | H4 Heading 
                                small.label.bg-primary-soft 24px
                            h5.mb-3
                                | H5 Heading 
                                small.label.bg-primary-soft 20px
                            h6.mb-3
                                | H6 Heading 
                                small.label.bg-primary-soft 16px
                    pre.code(data-lang='HTML')
                        code.docs-code
                            :highlight(lang="html")
                                <h1>H1 Heading</h1>
                                <h2>H2 Heading</h2>
                                <h3>H3 Heading</h3>
                                <h4>H4 Heading</h4>
                                <h5>H5 Heading</h5>
                                <h6>H6 Heading</h6>
                #display-headings
                    h4.mt-4.mb-2
                        | Display headings
                        a.anchor.ml-1.text-decoration-none(href="#display-headings") #
                    p Make a heading stand out by using display headings.
                    .row.mb-3
                        .col-12
                            h1.display-1.mb-3
                                | Display 1 
                                span.label.bg-primary-soft 80px
                            h1.display-2.mb-3
                                | Display 2 
                                span.label.bg-primary-soft 72px
                            h1.display-3.mb-3
                                | Display 3 
                                span.label.bg-primary-soft 64px
                            h1.display-4.mb-3
                                | Display 4 
                                span.label.bg-primary-soft 56px
                            h1.display-5.mb-3
                                | Display 5 
                                span.label.bg-primary-soft 48px
                            pre.code(data-lang='HTML')
                                code.docs-code
                                    :highlight(lang="html")
                                        <h1 class="display-1">Display 1</h1>
                                        <h1 class="display-2">Display 2</h1>
                                        <h1 class="display-3">Display 3</h1>
                                        <h1 class="display-4">Display 4</h1>
                                        <h1 class="display-5">Display 5</h1>
                #paragraphs
                    h4.mt-4.mb-2
                        | Paragraphs
                        a.anchor.ml-1.text-decoration-none(href="#paragraphs") #
                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                        | #[a(href='#typography') Aliquam] placerat libero id erat vehicula, pretium euismod metus suscipit. Vivamus tempor ut nunc consequat mattis. Morbi risus ipsum, ultricies at viverra non, pharetra sit amet magna.
                    pre.code(data-lang='HTML')
                        code.docs-code
                            :highlight(lang="html")
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                                    <a href="#typography">Aliquam</a> placerat libero id erat vehicula, pretium euismod metus suscipit. Vivamus tempor ut nunc consequat mattis. Morbi risus ipsum, ultricies at viverra non, pharetra sit amet magna.
                                </p>
                #paragraphs-lead
                    h4.mt-4.mb-2
                        | Lead
                        a.anchor.ml-1.text-decoration-none(href="#paragraphs-lead") #
                    p.lead Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Duis mollis, est non commodo luctus.
                    pre.code(data-lang='HTML')
                        code.docs-code
                            :highlight(lang="html")
                                <p class="lead">Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Duis mollis, est non commodo luctus.</p>
                #lists
                    h4.mt-4.mb-2
                        | Lists
                        a.anchor.ml-1.text-decoration-none(href="#lists") #
                    .d-flex.justify-content-between
                        .item
                            p.text-bold Unordered list 
                            ul
                                li item 1
                                li item 2
                                    ul
                                        li item 2.1
                                        li item 2.2
                                        li item 2.3
                                li item 3
                        .item
                            p.text-bold Ordered list 
                            ol
                                li item 1
                                li item 2
                                    ol
                                        li item 2.1
                                        li item 2.2
                                        li item 2.3
                                li item 3
                        .item
                            p.text-bold Description list 
                            dl
                                dt term 1
                                dd description 1
                                dt term 2
                                dd description 2
                                dt term 3
                                dd description 3
                        .item
                            p.text-bold Unstyled list 
                            ul.list-unstyled
                                li item 1
                                li item 2
                                li item 3
                        .item
                            p.text-bold Inline list 
                            ul.list-inline
                                li item 1
                                li item 2
                                li item 3
                    pre.code(data-lang='HTML')
                        code.docs-code
                            :highlight(lang="html")
                                <!-- unordered list -->
                                <ul>
                                    <li>item 1</li>
                                    <li>item 2
                                        <ul>
                                            <li>item 2.1</li>
                                            <li>item 2.2</li>
                                            <li>item 2.3</li>
                                        </ul>
                                    </li>
                                    <li>item 3</li>
                                </ul>

                                <!-- ordered list -->
                                <ol>
                                    <li>item 1</li>
                                    <li>item 2
                                        <ol>
                                            <li>item 2.1</li>
                                            <li>item 2.2</li>
                                            <li>item 2.3</li>
                                        </ol>
                                    </li>
                                    <li>item 3</li>
                                </ol>

                                <!-- description list -->
                                <dl>
                                    <dt>term 1</dt>
                                    <dd>description 1</dd>
                                    <dt>term 2</dt>
                                    <dd>description 2</dd>
                                    <dt>term 3</dt>
                                    <dd>description 3</dd>
                                </dl>

                                <!-- unstyled list -->
                                <ul class="list-unstyled">
                                    <li>item 1</li>
                                    <li>item 2</li>
                                    <li>item 3</li>
                                </ul>

                                <!-- inline list -->
                                <ul class="list-inline">
                                    <li>item 1</li>
                                    <li>item 2</li>
                                    <li>item 3</li>
                                </ul>
                                
            aside.col-12.col-xl-2
                include ../_layout/_sidebar

        include ../_layout/_footer
