// Button variant
@mixin button-variant(
    $color: $white-color,
    $bg-color: $primary-color,
    $border-color: $bg-color
) {
    color: $color;
    background-color: $bg-color;
    border-color: $border-color;

    &:focus,
    &:hover {
        color: $color;
        background-color: darken($bg-color, 5%);
        border-color: darken($border-color, 10%);
    }

    &:active,
    &.active {
        color: $color;
        background-color: darken($bg-color, 10%);
        border-color: darken($border-color, 15%);
    }
}
