// Button variant
@mixin btn-variant(
    $bg,
    $border-color,
    $color: color-contrast($bg),
    $hover-bg-color: if($color == $color-contrast-light, shade-color($bg, 15%), tint-color($bg, 15%)),
    $hover-border-color: if($color == $color-contrast-light, shade-color($border-color, 20%), tint-color($border-color, 10%)),
    $hover-color: color-contrast($hover-bg-color),
    $active-bg-color: if($color == $color-contrast-light, shade-color($bg, 20%), tint-color($bg, 20%)),
    $active-border-color: if($color == $color-contrast-light, shade-color($border-color, 25%), tint-color($border-color, 10%)),
    $active-color: color-contrast($active-bg-color),
) {
    color: $color;
    background-color: $bg;

    @if ($border-color) {
        border-color: $border-color;
    }

    &:focus,
    &:hover {
        color: $hover-color;
        background-color: $hover-bg-color;

        @if ($border-color) {
            border-color: $hover-border-color;
        }
    }

    &:active,
    &.active {
        color: $active-color;
        background-color: $active-bg-color;

        @if ($border-color) {
            border-color: $active-border-color;
        }
    }
}
