// Text color
@mixin text-color-variant($name: ".text-primary", $color: $primary) {
    #{$name} {
        color: $color !important;
    }

    a#{$name} {
        &:focus,
        &:hover,
        &:active,
        &.active {
            color: $link-hover-color !important;
        }
    }
}

@mixin bg-variant(
    $name: ".bg-primary",
    $bg: $primary,
    $color: color-contrast($bg),
) {
    #{$name} {
        color: $color;
        background-color: $bg !important;
    }
}

@mixin bg-soft-variant($name: ".bg-primary-soft", $bg: $primary, $color: $bg) {
    #{$name} {
        color: $color;
        background-color: rgba($bg, 0.1) !important;
    }
}

@mixin border-variant($name: ".border-primary", $color: $primary) {
    #{$name} {
        border-color: $color !important;
    }
}
