// Alerts
.alert {
    position: relative;
    display: block;
    padding: $alert-padding-y $alert-padding-x;
    width: 100%;
    border-radius: $alert-border-radius;

    // Reset
    a {
        color: currentColor;
        text-decoration: underline;

        &:focus,
        &:hover,
        &:active,
        &.active {
            opacity: 0.75;
        }
    }

    p {
        &:last-child {
            margin-bottom: 0;
        }
    }

    // Close
    .close {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        padding-left: $alert-padding-x;
        padding-right: $alert-padding-x;
    }
}
