.alert {
    --#{$var-prefix}alert-color: #{$muted};
    position: relative;
    padding: $alert-padding-y $alert-padding-x;
    margin-bottom: $alert-margin-bottom;
    background-color: $white;
    border: $alert-border-width solid $alert-border-color;
    border-left: $alert-border-left-width solid var(--#{$var-prefix}alert-color);
    border-radius: $alert-border-radius;
    box-shadow: $alert-box-shadow;

    :last-child {
        margin-bottom: 0;
    }

    .close {
        position: absolute;
        top: 0;
        right: 0;
        z-index: 2;
        padding: $alert-padding-y $alert-padding-x;
        color: inherit;
    }
}

// Colors
@each $name, $color in $state-colors {
    .alert-#{$name} {
        --#{$var-prefix}alert-color: #{$color};
    }
}

.alert-important {
    border-color: transparent;
    background-color: var(--#{$var-prefix}alert-color);
    color: $white;

    .alert-icon {
        color: inherit;
    }
}

.alert-link {
    &,
    &:focus,
    &:hover,
    &:active,
    &.active {
        color: var(--#{$var-prefix}alert-color);
    }
}

.alert-title {
    margin-bottom: $alert-title-margin-y;
    line-height: $alert-title-line-height;
    font-weight: $alert-title-font-weight;
}

.alert-icon {
    margin-right: $alert-padding-x;
    width: $alert-icon-width;
    height: $alert-icon-height;
    color: var(--#{$var-prefix}alert-color);
}
