// Avatar
.avatar {
    --#{$var-prefix}avatar-size: #{$avatar-size};
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: var(--#{$var-prefix}avatar-size);
    height: var(--#{$var-prefix}avatar-size);
    font-size: $avatar-font-size;
    font-weight: $avatar-font-weight;
    color: $avatar-color;
    text-align: center;
    text-transform: uppercase;
    vertical-align: bottom;
    user-select: none;
    background: $avatar-bg no-repeat center/cover;
    border-radius: $avatar-border-radius;

    .badge {
        position: absolute;
        right: 0;
        bottom: 0;
        box-shadow: 0 0 0 $avatar-badge-border-width $avatar-badge-border-color;
    }
}

@each $avatar-size, $size in $avatar-sizes {
    .avatar-#{$avatar-size} {
        --#{$var-prefix}avatar-size: #{$size};
    }

    .avatar-#{$avatar-size} .label:empty {
        width: $size * 0.25;
        height: $size * 0.25;
    }
}
