// Badge
.badge {
    position: relative;

    &::after {
        display: inline-block;
        position: absolute;
        bottom: 100%;
        left: 100%;
        content: attr(data-badge);
        z-index: $z-index-1;
        color: $badge-color;
        background-color: $badge-bg-color;
        transform: translate(-50%, 50%);
    }

    &[data-badge] {
        &::after {
            padding-left: $spacer * 0.25;
            padding-right: $spacer * 0.25;
            min-width: $spacer;
            height: $spacer;
            line-height: $spacer;
            font-weight: $font-weight-medium;
            font-size: $font-size * 0.75;
            text-align: center;
            border-radius: $border-radius;
        }
    }

    &:not([data-badge]) {
        &::after {
            min-width: $spacer * 0.5;
            height: $spacer * 0.5;
            border-radius: 50%;
        }
    }
}
