// Base
@if $font-import == true {
    @import url($font-url);
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -moz-osx-font-smoothing: grayscale;
    -moz-font-smoothing: antialiased;
    -webkit-font-smoothing: antialiased;
    -webkit-tap-highlight-color: transparent;
}

body {
    font-family: $font-family;
    font-size: $font-size;
    font-weight: $font-weight;
    line-height: $line-height;
    color: $body-color;
    text-align: left;
    background-color: $body-bg;
}

a {
    color: $link-color;
    outline: none;
    text-decoration: $link-decoration;

    &:focus,
    &:hover,
    &:active,
    &.active {
        color: $link-hover-color;
        text-decoration: $link-hover-decoration;
    }
}

img,
svg {
    vertical-align: middle;
}
