// Breadcrumb
.breadcrumb {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: $breadcrumb-margin-bottom;
    @include list-unstyled();
}

.breadcrumb-item + .breadcrumb-item {
    padding-left: $breadcrumb-padding-x;

    &::before {
        padding-right: $breadcrumb-padding-x;
        content: var(--#{$var-prefix}breadcrumb-divider, ($breadcrumb-divider));
        font-family: $breadcrumb-divider-font-family;
        color: $breadcrumb-divider-color;
    }
}

.breadcrumb-link {
    &:active,
    &.active {
        color: $breadcrumb-active-color;
    }
}
