// Butons
.btn {
    position: relative;
    display: inline-block;
    padding: $btn-padding-y $btn-padding-x;
    line-height: $line-height;
    font-size: $btn-font-size;
    font-weight: $btn-font-weight;
    text-align: center;
    user-select: none;
    vertical-align: middle;
    cursor: pointer;
    outline: none;
    color: $dark;
    border: $btn-border-width solid transparent;
    background-color: transparent;
    border-radius: $btn-border-radius;
    transition: all 0.2s ease 0s;

    &[disabled],
    &:disabled,
    &.disabled {
        cursor: default;
        opacity: 0.5;
        pointer-events: none;
    }

    &:focus,
    &:hover,
    &:active,
    &.active {
        text-decoration: none;
    }
}

%btn-color {
    color: var(--#{$var-prefix}btn-color);
    background-color: var(--#{$var-prefix}btn-bg);

    &:hover {
        color: var(--#{$var-prefix}btn-color);
        background: var(--#{$var-prefix}btn-bg-darker);
        border-color: transparent;
    }
}

%btn-outline {
    color: var(--#{$var-prefix}btn-bg);
    background-color: transparent;
    border-color: var(--#{$var-prefix}btn-bg);

    &:hover {
        color: var(--#{$var-prefix}btn-bg);
        background-color: var(--#{$var-prefix}btn-bg-lighter);
        border-color: var(--#{$var-prefix}btn-bg);
    }
}

// Colors
@each $name, $color in $theme-colors {
    .btn-#{$name},
    .btn-outline-#{$name} {
        --#{$var-prefix}btn-color: #{color-contrast($color)};
        --#{$var-prefix}btn-bg: #{$color};
        --#{$var-prefix}btn-bg-lighter: #{theme-color-lighter($color, true)};
        --#{$var-prefix}btn-bg-darker: #{theme-color-darker($color)};
    }

    .btn-#{$name} {
        @extend %btn-color;
    }

    .btn-outline-#{$name} {
        @extend %btn-outline;
    }
}

// Styles
.btn-link {
    font-weight: $btn-font-weight;
    color: $link-color;
    text-decoration: $link-decoration;

    &:hover {
        color: $link-hover-color;
        text-decoration: $link-hover-decoration;
    }

    &:focus {
        text-decoration: $link-hover-decoration;
    }
}

// Sizes
.btn-sm {
    padding: $btn-padding-y-sm $btn-padding-x-sm;
    font-size: $btn-font-size-sm;
    border-radius: $border-radius-sm;
}

.btn-lg {
    padding: $btn-padding-y-lg $btn-padding-x-lg;
    font-size: $btn-font-size-lg;
    border-radius: $border-radius-lg;
}

.btn-block {
    display: block;
    width: 100%;
}
