// Alerts
.callout {
    position: relative;
    display: block;
    padding: $callout-padding-y $callout-padding-x;
    width: 100%;
    border-left: $callout-border-left-width solid transparent;
    border-radius: $callout-border-radius;

    // Reset
    p {
        margin-bottom: 0;
    }
}
