// Codes
code {
    padding: $spacer * 0.25;
    font-size: 85%;
    color: $code-color;
    line-height: $line-height-sm;
    background: $code-bg-color;
    border-radius: $border-radius;
}

.code {
    position: relative;
    margin: 0;
    color: $code-color;
    border-radius: $border-radius;

    &::before {
        position: absolute;
        top: $spacer * 0.25;
        right: $spacer * 0.5;
        color: $gray-color;
        content: attr(data-lang);
        font-size: $font-size-sm;
    }

    code {
        display: block;
        padding: $spacer;
        width: 100%;
        color: inherit;
        line-height: $line-height;
        background: $code-bg-color;
        overflow-x: auto;
    }
}
