// Progress
.progress {
    display: flex;
    width: 100%;
    height: $progress-height;
    line-height: 0;
    background-color: $progress-bg;
    border-radius: $progress-border-radius;
    overflow: hidden;
}


.progress-bar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    white-space: nowrap;
    background-color: $progress-bar-bg;
    overflow: hidden;
}

// Sizes
.progress-sm {
    height: $progress-height-sm;
}

.progress-lg {
    height: $progress-height-lg;
}
