// Progress
.progress {
    display: flex;
    width: 100%;
    height: $progress-height;
    line-height: 0;
    font-size: $font-size-sm;
    background-color: $light-color;
    border-radius: $border-radius;
    overflow: hidden;

    &-sm {
        height: $progress-height * 0.5;
    }

    &-lg {
        height: $progress-height * 2;
    }

    .progress-bar {
        display: flex;
        flex-direction: column;
        justify-content: center;
        color: $white-color;
        text-align: center;
        white-space: nowrap;
        background-color: $primary-color;
        overflow: hidden;
    }
}
