// Typography
// Headings
h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0;
    margin-bottom: $headings-margin-bottom;
    font-family: $headings-font-family;
    font-style: $headings-font-style;
    font-weight: $headings-font-weight;
    line-height: $headings-line-height;
    color: $headings-color;
}

h1,
.h1 {
    font-size: $h1-font-size;
}

h2,
.h2 {
    font-size: $h2-font-size;
}

h3,
.h3 {
    font-size: $h3-font-size;
}

h4,
.h4 {
    font-size: $h4-font-size;
}

h5,
.h5 {
    font-size: $h5-font-size;
}

h6,
.h6 {
    font-size: $h6-font-size;
}

// Type display classes
@each $display, $font-size in $display-font-sizes {
    .display-#{$display} {
        font-size: $font-size;
        font-weight: $display-font-weight;
        line-height: $display-line-height;
    }
}

// Paragraphs
p {
    margin: 0 0 $paragraph-margin-bottom;
}

.lead {
    font-size: $lead-font-size;
    font-weight: $lead-font-weight;
}

// Blockquote
blockquote {
    padding: $blockquote-padding-y $blockquote-padding-x;
    margin-left: 0;
    border-left: $blockquote-border-width solid $blockquote-border-color;

    p:last-child {
        margin-bottom: 0;
    }
}

// Lists
ul,
ol {
    margin: 0;
    padding: 0;

    ul,
    ol {
        margin-top: $spacer * 0.25;
        margin-left: $spacer * 1.5;
    }
}

ul {
    list-style: disc inside;

    ul {
        list-style-type: circle;
    }
}

ol {
    list-style: decimal inside;

    ol {
        list-style-type: lower-alpha;
    }
}

dl {
    dt {
        font-weight: $dt-font-weight;
    }

    dd {
        margin: $spacer * 0.25 0;
    }
}

// Unstyled
.list-unstyled {
    @include list-unstyled();

    ul,
    ol {
        @include list-unstyled();
    }
}

// Inline
.list-inline {
    display: flex;
    align-items: center;
    @include list-unstyled();
}

.list-inline-item {
    display: inline-block;

    &:not(:last-child) {
        margin-right: $spacer * 0.5;
    }
}
