// Core variables

// Colors
$primary:                           #2e85ff !default;
$secondary:                         #324b72 !default;

$success:                           #1ac98e !default;
$error:                             #ff6a68 !default;
$warning:                           #fcc419 !default;
$info:                              #5c9fff !default;

$dark:                              #112950 !default;
$light:                             #f5f8fb !default;

$white:                             #fff !default;
$black:                             #000 !default;

$gray:                              #7b8ba5 !default;
$gray-light:                        #e0e6ed !default;
$gray-dark:                         #2f476b !default;

$colors:                           () !default;
$colors: map-merge((
    "primary": $primary,
    "secondary": $secondary,
    "success": $success,
    "error": $error,
    "warning": $warning,
    "info": $info,
    "dark": $dark,
    "light": $light
), $colors);

// Options
$font-import:                       true !default;

// Assets
$font-url:                          "https://rsms.me/inter/inter-ui.css";
$font-path:                         "font/" !default;
$img-path:                          "img/" !default;

// Spacer
$spacer:                            1rem !default;

$spacers:                           () !default;
$spacers: map-merge((
    0: 0,
    1: ($spacer * 0.25),
    2: ($spacer * 0.5),
    3: $spacer,
    4: ($spacer * 1.5),
    5: ($spacer * 3)
), $spacers);

// This variable affects the `.h-*` and `.w-*` classes.
$sizes:                             () !default;
$sizes: map-merge((
    25: 25%,
    50: 50%,
    75: 75%,
    100: 100%,
    auto: auto
), $sizes);

// Z-index
$z-index-0:                         0 !default;
$z-index-1:                         1 !default;
$z-index-2:                         2 !default;
$z-index-3:                         3 !default;
$z-index-4:                         4 !default;
$z-index-5:                         5 !default;

// Border
$border-width:                      1px !default;
$border-color:                      $gray-light !default;

$border-radius:                     0.375rem !default;
$border-radius-sm:                  0.25rem !default;
$border-radius-lg:                  0.5rem !default;

$border-radius-circle:              50% !default;
$border-radius-pill:                50rem !default;

$box-shadow:                        0 0.5rem 1rem rgba($dark, 0.15) !default;
$box-shadow-sm:                     0 0.125rem 0.25rem rgba($dark, 0.075) !default;
$box-shadow-lg:                     0 1rem 3rem rgba($dark, 0.175) !default;
$box-shadow-inset:                  inset 0 1px 2px rgba($dark, 0.075) !default;

//
// Elements
//

// Body
$body-color:                        $gray-dark !default;
$body-bg:                           $white !default;

// Typography
$font-family:                       "Inter UI", sans-serif;

$font-size:                         1rem !default;
$font-size-xs:                      $font-size * 0.75 !default;
$font-size-sm:                      $font-size * 0.875 !default;
$font-size-lg:                      $font-size * 1.125 !default;
$font-size-xl:                      $font-size * 1.5 !default;

$font-weight-lighter:               200 !default;
$font-weight-light:                 300 !default;
$font-weight-normal:                400 !default;
$font-weight-medium:                500 !default;
$font-weight-semi-bold:             600 !default;
$font-weight-bold:                  700 !default;
$font-weight-extra-bold:            800 !default;

$font-weight:                       $font-weight-normal !default;

$line-height:                       1.5 !default;
$line-height-sm:                    1.25 !default;
$line-height-lg:                    2 !default;

$headings-margin-bottom:            $spacer * 0.5 !default;
$headings-font-family:              null !default;
$headings-font-style:               null !default;
$headings-font-weight:              $font-weight-semi-bold !default;
$headings-line-height:              $line-height-sm !default;
$headings-color:                    null !default;

$h1-font-size:                      $font-size * 2.5 !default;
$h2-font-size:                      $font-size * 2 !default;
$h3-font-size:                      $font-size * 1.75 !default;
$h4-font-size:                      $font-size * 1.5 !default;
$h5-font-size:                      $font-size * 1.25 !default;
$h6-font-size:                      $font-size !default;

$letter-spacing-tight:              -0.025em !default;
$letter-spacing-wide:               0.025em !default;
$letter-spacing-wider:              0.05em !default;

// Display
$display-font-sizes: (
    1: $font-size * 5,
    2: $font-size * 4.5,
    3: $font-size * 4,
    4: $font-size * 3.5,
    5: $font-size * 3
) !default;
$display-font-weight:               $font-weight-medium !default;
$display-line-height:               $headings-line-height !default;

// Paragraphs
$paragraph-margin-bottom:           1rem !default;

$lead-font-size:                    $font-size * 1.25 !default;
$lead-font-weight:                  $font-weight-light !default;

$muted:                             $gray !default;

// List
$dt-font-weight:                    $font-weight-medium !default;

// Link
$link-color:                        $primary !default;
$link-decoration:                   none !default;
$link-hover-color:                  shade-color($link-color, 20%) !default;
$link-hover-decoration:             none !default;

// Button
$btn-padding-y:                     0.5rem !default;
$btn-padding-x:                     1rem !default;

$btn-padding-y-sm:                  0.25rem !default;
$btn-padding-x-sm:                  0.5rem !default;

$btn-padding-y-lg:                  0.75rem !default;
$btn-padding-x-lg:                  1.5rem !default;

$btn-font-size:                     $font-size !default;
$btn-font-size-sm:                  $font-size-sm !default;
$btn-font-size-lg:                  $font-size-lg !default;

$btn-font-weight:                   $font-weight-semi-bold !default;

$btn-border-width:                  $border-width !default;
$btn-border-color:                  $border-color !default;
$btn-border-radius:                 $border-radius !default;
 
// Form
$form-field-padding-y:              0.5rem !default;
$form-field-padding-x:              0.75rem !default;

$form-field-padding-y-sm:           0.25rem !default;
$form-field-padding-x-sm:           0.5rem !default;

$form-field-padding-y-lg:           0.75rem !default;
$form-field-padding-x-lg:           1rem !default;

$form-field-font-size:              $font-size !default;
$form-field-font-size-sm:           $font-size-sm !default;
$form-field-font-size-lg:           $font-size-lg !default;

$form-field-font-weight:            $font-weight !default;

$form-field-border-width:           $border-width !default;
$form-field-border-color:           $border-color !default;
$form-field-border-radius:          $border-radius !default;
$form-field-box-shadow:             null !default;

$form-field-mark-size:              $font-size !default;

$form-field-icon-size:              $font-size * 0.5 !default;

// Code
$code-font-size:                    $font-size-sm !default;
$code-color:                        $error !default;

$pre-padding-y:                     0.75rem !default;
$pre-padding-x:                     1rem !default;

$pre-color:                         $dark !default;
$pre-bg:                            $light !default;
$pre-border-radius:                 null !default;

// Label
$label-padding-y:                   0.175em !default;
$label-padding-x:                   0.35em !default;
$label-font-size:                   75% !default;
$label-font-weight:                 $font-weight-semi-bold !default;
$label-border-radius:               $border-radius !default;

// Media
$aspect-ratios:                     () !default;
$aspect-ratios: map-merge((
    "1x1": 100%,
    "4x3": calc(3 / 4 * 100%),
    "16x9": calc(9 / 16 * 100%),
    "21x9": calc(9 / 21 * 100%)
), $aspect-ratios);

//
// Layout
//

// Container
$container-max-widths: (
    sm: 540px,
    md: 720px,
    lg: 960px,
    xl: 1140px,
    // xxl: 1320px
) !default;

// Grid
$grid-columns:                      12 !default;
$grid-spacer:                       1rem !default;

$grid-breakpoints: (
    xs: 0,
    sm: 576px,
    md: 768px,
    lg: 992px,
    xl: 1200px,
    // xxl: 1400px
) !default;

//
// Components
//

// Alerts
$alert-padding-y:                   1rem !default;
$alert-padding-x:                   1rem !default;
$alert-border-radius:               $border-radius !default;

// Avatars
$avatar-width:                      3rem !default;
$avatar-height:                     $avatar-width !default;

$avatar-width-sm:                   $avatar-width * 0.75 !default;
$avatar-height-sm:                  $avatar-width-sm !default;

$avatar-width-lg:                   $avatar-width * 1.25 !default;
$avatar-height-lg:                  $avatar-width-lg !default;

$avatar-width-xl:                   $avatar-width * 1.5 !default;
$avatar-height-xl:                  $avatar-width-xl !default;

$avatar-color:                      $white !default;
$avatar-bg:                         $primary !default;
$avatar-border-radius:              $border-radius-circle !default;

$avatar-status-border-width:        $border-width !default;
$avatar-status-border-color:        $white !default;

// Breadcrumbs
$breadcrumb-margin-bottom:          1rem !default;
$breadcrumb-padding-x:              0.5rem !default;
$breadcrumb-divider-color:          $muted !default;
$breadcrumb-divider-font-family:    null !default;
$breadcrumb-divider:                quote("/");
$breadcrumb-active-color:           $muted !default;

// Callouts
$callout-padding-y:                 0.75rem !default;
$callout-padding-x:                 1rem !default;
$callout-border-left-width:         0.2em !default;
$callout-border-radius:             null !default;

// Cards
$card-padding-y:                    $spacer !default;
$card-padding-x:                    $spacer !default;

$card-border-width:                 $border-width !default;
$card-border-color:                 $border-color !default;
$card-border-radius:                $border-radius-lg !default;

$card-box-shadow:                   $box-shadow-sm !default;

$card-title-margin-y:               $card-padding-y * 0.5 !default;

$card-header-padding-y:             $card-padding-y * 0.75 !default;
$card-header-padding-x:             $card-padding-x !default;

$card-footer-padding-y:             $card-padding-y * 0.75 !default;
$card-footer-padding-x:             $card-padding-x !default;

// Modals
$modal-width:                       640px !default;
$modal-width-sm:                    320px !default;
$modal-width-lg:                    960px !default;

$modal-padding-y:                   $spacer !default;
$modal-padding-x:                   $spacer !default;

$modal-color:                       $body-color !default;
$modal-bg:                          $body-bg !default;

$modal-border-width:                $border-width !default;
$modal-border-color:                $border-color !default;
$modal-border-radius:               $border-radius !default;

$modal-overlay-bg:                  rgba($dark, 0.5) !default;

$modal-header-padding-y:            $modal-padding-y * 1.25 !default;
$modal-header-padding-x:            $modal-padding-x !default;

$modal-footer-padding-y:            $modal-padding-y * 0.75 !default;
$modal-footer-padding-x:            $modal-padding-x !default;

// Pagination
$pager-margin-bottom:               $spacer !default;

$pager-padding-y:                   0.375rem !default;
$pager-padding-x:                   0.75rem !default;
$pager-font-size:                   $font-size !default;
$pager-border-radius:               $border-radius !default;

$pager-padding-y-sm:                0.25rem !default;
$pager-padding-x-sm:                0.5rem !default;
$pager-font-size-sm:                $font-size-sm !default;
$pager-border-radius-sm:            $border-radius-sm !default;

$pager-padding-y-lg:                0.5rem !default;
$pager-padding-x-lg:                1rem !default;
$pager-font-size-lg:                $font-size-lg !default;
$pager-border-radius-lg:            $border-radius-lg !default;

$pager-color:                       $body-color !default;
$pager-bg:                          $body-bg !default;
$pager-border-width:                $border-width !default;
$pager-border-color:                $border-color !default;

$pager-hover-color:                 $dark !default;
$pager-hover-bg:                    $light !default;
$pager-hover-border-color:          $pager-border-color !default;

$pager-active-color:                $white !default;
$pager-active-bg:                   $primary !default;
$pager-active-border-color:         $pager-active-bg !default;

$pager-disabled-color:              $gray !default;
$pager-disabled-bg:                 $pager-bg !default;
$pager-disabled-border-color:       $pager-border-color !default;

// Progress
$progress-height:                   0.375rem !default;
$progress-height-sm:                0.25rem !default;
$progress-height-lg:                0.75rem !default;

$progress-bg:                       $light !default;

$progress-border-radius:            $border-radius !default;

$progress-bar-bg:                   $primary !default;

//
// Utilities
//

// Close
$close-font-size:                   $font-size-xl !default;
$close-font-weight:                 $font-weight-normal !default;
$close-line-height:                 $line-height !default;

// Loading
$loading-width:                     2.5rem !default;
$loading-height:                    $loading-width !default;
$loading-border-width:              0.2em !default;

$loading-sm-width:                  1.5rem !default;
$loading-sm-height:                 $loading-sm-width !default;
$loading-sm-border-width:           0.15em !default;

$loading-lg-width:                  3.5rem !default;
$loading-lg-height:                 $loading-lg-width !default;
$loading-lg-border-width:           0.25em !default;

//
// Mixins
//

// Color contrast
$color-contrast-dark:               $dark !default;
$color-contrast-light:              $white !default;

// Characters which are encoded by the svg-encode function
$encoding-reference:                () !default;
$encoding-reference: map-merge((
    "<": "%3C",
    ">": "%3E",
    '"': "'",
    "#": "%23",
    "&": "%26"
), $encoding-reference);
