#buttons
    h2.docs-title.my-4.font-light
        | Buttons
        a.anchor.ml-1.text-decoration-none(href="#buttons") #
    p
        | Buttons include simple button styles for actions in different types and sizes.
    .row.mb-3
        .col
            button.btn.mr-3 default
            button.btn.btn-outline.mr-3 outline
            button.btn.btn-link link
    pre.code(data-lang='HTML')
        code.docs-code
            :highlight(lang="html")
                <button class="btn">default</button>
                <button class="btn btn-outline">outline</button>
                <button class="btn btn-link">link</button>
#buttons-colors
    h4.docs-title.my-4.font-light
        | Colors
        a.anchor.ml-1.text-decoration-none(href="#buttons-colors") #
    .row.mb-3
        .col
            button.btn.btn-dark.mr-3 dark
            button.btn.btn-light light
    p
        | And you can add the #[code btn-dark]  or #[code btn-light] class for additional button colors.
    pre.code(data-lang='HTML')
        code.docs-code
            :highlight(lang="html")
                <button class="btn btn-dark">dark</button>
                <button class="btn btn-light">light</button>
#buttons-sizes
    h4.docs-title.my-4.font-light
        | Sizes
        a.anchor.ml-1.text-decoration-none(href="#buttons-sizes") #
    .row.mb-3
        .col.d-flex.align-items-center
            button.btn.btn-sm.mr-3 small
            button.btn.btn-lg.mr-3 large
            button.btn.btn-block.flex-grow-1 block
    p
        | Add the#[code btn-sm] or #[code btn-lg] class for small or large button size. Also, you can add the btn-block class for a full-width button.
    pre.code(data-lang='HTML')
        code.docs-code
            :highlight(lang="html")
                <button class="btn btn-sm">small</button>
                <button class="btn btn-lg">large</button>
                <button class="btn btn-block">block</button>
#buttons-states
    h4.docs-title.my-4.font-light
        | States
        a.anchor.ml-1.text-decoration-none(href="#buttons-states") #
    .row.mb-3
        .col
            button.btn.active.mr-3 active
            button.btn.disabled(tabindex="-1") disabled
    p
        | Add the #[code active] or #[code disabled] class for active or disabled button size.
    pre.code(data-lang='HTML')
        code.docs-code
            :highlight(lang="html")
                <button class="btn active">active</button>
                <button class="btn disabled">disabled</button>
